@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,400,300,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:100,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,600,700);

.clear{
	clear: both;
}
.ibk-dashboard-wrap{
	width: 100%;
}
.ibk-dashboard-wrap .ibk-admin-header{
	height: 100px;
  	width: 100%;
  	position: relative;
  	margin-bottom: 25px;
}

.ibk-dashboard-wrap .ibk-admin-header .ibk-top-menu-section {
	z-index: 1;
  	position: absolute;
  	height: 100px;
  	width: 100%;
  	padding-right: 20px;
  	margin-left: -20px;
  	background-color: #616f76;
  	-webkit-box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.75);
  	-moz-box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.75);
  	box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.75);
	box-sizing:content-box;
}

.ibk-dashboard-logo {
  	position: absolute;
  	left: 0px;
  	top: 0px;
  	width: 200px;
  	height: 100%;
  	background-color: #ab82c9;
  	z-index: 2;
}
.ibk-dashboard-wrap .ibk-admin-header .ibk-top-menu-section .ibk-dashboard-menu {
	  width: 100%;
	  height: 100%;
	  right: 0px;
	  padding-left: 200px;
	  position: absolute;
	  display: inline-block;
	  box-sizing: border-box;
	  background: url("../images/dashboard-underline.jpg") 0 bottom repeat-x;
	  z-index: 1;
}
.ibk-dashboard-menu ul {
	  margin: 0px;
	  padding: 0px;
	  list-style-type: none;
	  width: 100%;
	  height: 100%;
	  overflow: hidden;
	  z-index: 999996;
}
.ibk-dashboard-wrap .ibk-admin-header .ibk-top-menu-section .ibk-dashboard-menu ul li {
	  float: left;
	  height: 100%;
	  width: 11%;
	  max-width:200px;
	  list-style-type: none;
	  margin: 0px;
	  padding: 0px;
	  border-right: 1px solid rgba(255,255,255, 0.1);
	  color: #FFF;
	  z-index: 999996;
}
.ibk-dashboard-wrap .ibk-admin-header .ibk-top-menu-section .ibk-dashboard-menu ul li a {
	  text-decoration: none;
	  color: #fff;
}
.ibk-dashboard-wrap .ibk-admin-header .ibk-top-menu-section .ibk-dashboard-menu .ibk-page-title {
	  font-size: 10px;
	  padding: 18px 5px;
	  font-family: "Open Sans",sans-serif;
	  font-weight: bold;
	  text-align: center;
	  text-transform: uppercase;
	  line-height: 15px;
}
.ibk-dashboard-menu ul li.selected, .ibk-dashboard-menu ul li:hover {
  	  background-color: rgba(255,255,255,0.1);
}
.ibk-subtab-menu{
	  width: 100%;
	  position: absolute;
	  top: 100px;
	  background-color: rgba(0,0,0,0.7);
	  margin-left: -20px;
	  padding: 5px 0px 5px 20px;
}
.ibk-subtab-menu .ibk-subtab-menu-item{
	  text-decoration: none;
	  color: #fff;
	  display: inline-block;
	  margin-right: 20px;
}
.ibk-dashboard-wrap .ibk-stuffbox {
	margin: 20px 20px 0px 0px;
	  padding: 0px;
	  line-height: 1;
	  background: #fff;
	  border: 1px solid #e5e5e5;
	  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
	  box-shadow: 0 1px 1px rgba(0,0,0,.04);
	
}
.ibk-dashboard-wrap .ibk-stuffbox .ibk-h3 {
	  background-color: #fff;
	  font-weight: bold;
	  color: #333;
	  background-image: none;
	  text-shadow: none;
	  box-shadow: inset 0px -5px 10px 2px rgba(0,0,0,0.03);
	  font-family: "Open Sans",sans-serif;
	  font-size: 16px;
	  padding: 16px 12px;
	  line-height: 1.4;
	  border-bottom: 1px solid #ccc;
	  margin: 0px;
}

.ibk-dashboard-wrap .ibk-stuffbox .inside {
	  padding: 0 12px 12px;
	  line-height: 1.4em;
	  font-size: 13px;
	  margin-top: 10px;
}
.ibk-dashboard-wrap .ibk-stuffbox .inside .ibk-inside-label {
	  min-width: 140px;
	  text-align: right;
	  padding-right: 15px;
	  display: inline-block;
}
.ibk-dashboard-wrap .ibk-stuffbox .inside .ibk-inside-label-big {
	  min-width: 190px;
	  text-align: right;
	  padding-right: 15px;
	  display: inline-block;
	font-weight: bold;
	vertical-align: top;
}
.ibk-dashboard-wrap .ibk-stuffbox .inside .ibk-inside-item  {
	  padding: 10px 5px;
	  /*border-bottom: 1px solid #fafafa;*/
}
.ibk-dashboard-wrap .ibk-stuffbox .inside .ibk-bttn-wrapp{
	margin-top: 15px;
}

#wpbody-content .update-nag{
	display: none;
}
.ibk-top-message{

	font-family: "Roboto", sans-serif;
	font-weight:300;
	color:#555;
	font-size:21px;
	line-height:38px;
}
.ibk-tag-item {
	  background-color: #1FC4C8;
	  color: #fff;
	  padding: 5px;
	  margin: 3px;
	  display:inline-block;
	  min-width: 40px;
}
.ibk-remove-tag{
	cursor: pointer;
    margin-left: 5px;
	display: inline-block;
	float:right;
}
.ibk-add-new, .ibk-close-btn{
	cursor: pointer;
	outline: none;
	padding: 0px 16px 0px 0px;
	background-color: #2196f3;
	border: 1px solid transparent;
	color: #ffffff;
	font-family: "Roboto", sans-serif;
	font-weight:200;
	font-size: 14px;
	font-weight: 300;
	outline: 0;
	line-height: 20px;
	white-space: nowrap;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	box-sizing: border-box;
	text-decoration:none;
	min-width:120px;
	display: inline-block;
    margin-right: 10px;
}
.ibk-add-new:hover{	
	color:#fff !important;
}
.ibk-close-btn{
	background-color:#fff;
	color:#333;
	font-weight:bold;
	border-color:#eee;
}
.ibk-add-new:hover,\{
	background-color: #0d8aee;
	color:#FFF;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.ibk-add-new span, .ibk-close-btn span{
	padding-left:10px;
}
.ibk-add-new i {
	background-color: #0d8aee;
	padding: 11px;
	font-size: 16px;
	margin-right:10px;
}
.ibk-close-btn i {
	padding: 11px;
	font-size: 16px;
}
.ibk-add-new-like-wp{
	position: relative;
	display: inline-block;
	text-decoration: none; 
	border:1px solid transparent;
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
	font-size: 13px;
	line-height:13px;
	vertical-align:middle;
	font-weight: bold;
	text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5);
	cursor: pointer;
	outline: none;
	padding: 8px 14px;
	min-width:100px;
	margin: 0;
	border-radius: 4px;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	color: #ffffff;
	background: linear-gradient(#f2616e,#d94856);
	background-image: -ms-lienar-gradient(#f2616e,#d94856);
	background-image: -webkit-linear-gradient(#f2616e,#d94856);
	background-image: -o-linear-gradient(#f2616e,#d94856);
	background-image: -moz-linear-gradient(#f2616e,#d94856);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f2616e', endColorStr='#d94856', GradientType=0)";
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f2616e', endColorStr='#d94856', GradientType=0);
}
.ibk-add-new-like-wp:hover{
  	background: linear-gradient(#FFFFFF,#EEEEEE);
  	background-image: -ms-lienar-gradient(#FFFFFF,#EEEEEE);
  	background-image: -webkit-linear-gradient(#FFFFFF,#EEEEEE);
  	background-image: -o-linear-gradient(#FFFFFF,#EEEEEE);
  	background-image: -moz-linear-gradient(#FFFFFF,#EEEEEE);
  	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#EEEEEE', GradientType=0)";
  	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFFFFF', endColorStr='#EEEEEE', GradientType=0);
	text-shadow:none;
	border:1px solid #bbb;
	color: #333;
}
.ibk-backup-items-wrap{
	margin:30px 0px 30px 0;
}
.ibk-admin-dashboard-backup-box-wrap{
	width: 25%;
	min-width: 365px;
	max-width:465px;
	padding: 20px;
	padding-left:0px;
  	float:left;
	box-sizing:border-box;
	height:240px;
	color: #fff;
}
@media screen and (max-width: 1440px) {
    .ibk-admin-dashboard-backup-box-wrap{
       width: 33%;
    }
}
.ibk-admin-dashboard-backup-box{
	display:block;
	height:100%;
	width:100%;
	font-family: Oswald, Helvetica, Arial, sans-serif;
	font-family: "Roboto", sans-serif;
	overflow:hidden;
	position:relative;
}
.ibk-admin-dashboard-backup-box-title{
	margin:3px 5px;
	line-height:40px;
	border-bottom:solid 1px rgba(255,255,255,0.7);
	font-family: "Roboto", sans-serif;
	font-size:33px;
	font-weight:200;
	height:46px;
	padding:2px 0 3px 5px;
	box-sizing:border-box;
	overflow:hidden;
}
.ibk-admin-dashboard-backup-box-content{
	padding:2px 5px 3px 10px;
	box-sizing:border-box;
	font-size: 15px;
	font-weight: normal;
	height:103px;
    overflow: hidden;
}
.ibk-admin-dashboard-backup-box-bottom{
	line-height:37px;
	font-family: Oswald, Helvetica, Arial, sans-serif;
	font-size:20px;
	font-weight:200;
	height:45px;
	padding:4px 0 4px 5px;
	box-sizing:border-box;
  	background-color: rgba(0,0,0,0.15);
	position: relative;
  	z-index: 100;
}
.ibk-admin-dashboard-backup-box-files{
	float:left;
	padding-left:10px;
}
.ibk-admin-dashboard-backup-box-files i{
	margin-right:15px;
	font-size: 24px;
	cursor:pointer;
	color:rgba(255,255,255,0.9);
}
.ibk-admin-dashboard-backup-box-files i:hover{
	color:#fff;
}
.ibk-admin-dashboard-backup-box-dest{
	font-size: 13px;
	font-weight:200;
	display:inline-block;
	padding-left:8px;
	margin-left:-5px;
    border-left: solid 1px rgba(255,255,255,0.3);
}
.ibk-admin-dashboard-backup-box-dest span{
	font-weight:500;
}
.ibk-admin-dashboard-backup-box-date{
	float:right;
	padding-right:10px;
	line-height:18px;
	font-size:13px;
	box-sizing:border-box;
	text-align:right;
	font-weight:500;
}
.ibk-admin-dashboard-backup-box-date .date-message{
	font-weight:200;
}
.ibk-admin-dashboard-backup-box-scheduled{
	float:right;
    border-left: solid 1px rgba(255,255,255,0.3);
}
.ibk-admin-dashboard-backup-box-scheduled i{
	margin:0 10px;
	font-size: 21px;
	cursor:pointer;
	color:rgba(255,255,255,0.9);
}
.ibk-admin-dashboard-backup-box-scheduled i:hover{
	color:#fff;
}

.ibk-admin-dashboard-backup-box-links-wrap{
	opacity:0;
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	background-color:rgba(0,0,0,0.5);
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition:  all 0.5s ease;
	-o-transition: all 0.5s ease;
	
}
.ibk-admin-dashboard-backup-box-main:hover .ibk-admin-dashboard-backup-box-links-wrap{
	opacity:1;
}
.ibk-admin-dashboard-backup-box-links{
	padding-bottom: 100%;
	position: relative;
	bottom: -30%;
	text-align: center;
}
.ibk-admin-dashboard-backup-box-link{
	border:solid 1px #fff;
	padding:5px 15px;
	min-width:80px;
	box-sizing:border-box;
	margin:15px 10px;
	display:inline-block;
	text-decoration:none;
	text-align:center;
	cursor:pointer;
	font-family: "Roboto", sans-serif;
}
.ibk-admin-dashboard-backup-box-link:hover{
	background-color:#fff;
	color:#333;
}
.ibk-admin-dashboard-backup-box a{
	color: #fff;
}
.ibk-destination-list{
	min-width:365px;
}
.ibk-destination-list-name{
  border-bottom: none;
  text-align: center;
  line-height: 100px;
  font-size: 50px;
  height: 80px;
  opacity: 0.8;
  overflow:hidden;
}
.ibk-destination-list-type{
  border-bottom: none;
  text-align: center;
  line-height: 25px;
  font-size: 25px;
  font-weight: 400;
  height: 65px;
  overflow:hidden;
}
.ibk-destination-list .ibk-admin-dashboard-backup-box-bottom{
	font-size:18px;
	opacity: 0.9;
}


.ibk-line-break{
	  width: 100%;
	  height: 1px;
	  background: #eee;
	  margin: 5px 0px 5px 0px;
}

.ibk-colors-ul {
  	margin-top: 2px;
  	min-width: 135px;
}
.ibk-colors-ul .ibk-color-scheme-item, .ibk-colors-ul .ibk-color-scheme-item-selected {
  	width: 20px;
  	height: 20px;
  	float: left;
  	margin-right: 5px;
  	cursor: pointer;
  	border: 1px solid #fff;
}
.ibk-colors-ul .ibk-color-scheme-item:hover, .ibk-colors-ul .ibk-color-scheme-item-selected {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
.ibk-checkbox-wrap{
	padding: 3px 20px;
  box-sizing: border-box;
  padding-left: 30px !important;
  margin-left:0px !important;
  line-height: 25px;
  border: solid 1px transparent;
  border-color: #e1e1e1;
  background-color: #f5f5f5;
  font-weight: 700;
}
.ibk-checkbox-wrap input[type="checkbox"]{
  margin-left: -22px !important;
}
.ibk-logs-items-wrap{
	margin:30px 0px 30px 0;
	max-width:900px;
}
.ibk-log-wrap{
	padding:6px 15px;
	box-sizing:border-box;
	margin:15px 20px;
  border: solid 1px transparent;
  border-color: #e1e1e1;
  background-color: #fafafa;
  height: 120px;
}
.ibk-log-title{
	font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height:25px;
  height: 30px;
  padding: 2px 0 3px 5px;
  box-sizing: border-box;
  color: #000;
}
.ibk-log-title span{
	font-size:14px;
	color:#777;
	font-weight:400;
  vertical-align: middle;
}
.ibk-log-left{
	width:80%;
	height:100%;
	float:left;
}
.ibk-log-right{
	width:20%;
	max-width:100px;
	height:100%;
	float:right;
	border-left:solid 1px #ddd;
}
.ibk-log-progress{
	margin:4px 0 13px 0;
}
.ibk-log-progress .progress{
	margin-bottom:2px;
}
.ibk-log-progress .ibk-log-message{
	font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight:bold;
  color:#333;
  padding-top:5px;
  line-height: 15px;
  padding-left: 5px;
  vertical-align: top;
}
.ibk-log-progress .ibk-log-message i{
	font-size:15px;
	margin-right:4px;
	color: #666;
}
.ibk-log-bottom{
	color:#777;
}
.ibk-log-bottom-files {
  float: left;
}
.ibk-log-bottom-files i {
  margin-right: 5px;
}
.ibk-log-bottom-dest{
	font-size: 13px;
	font-weight:200;
	display:inline-block;
	padding-left:8px;
	margin-left:-5px;
    border-left: solid 1px rgba(255,255,255,0.3);
}
.ibk-log-bottom-dest span{
	font-weight:500;
}
.ibk-log-bottom-scheduled{
	float:right;
}
.ibk-log-status{
	width:100%;
	min-height:30px;
	text-align:center;
	margin-top: 30px;
  	padding-left: 8px;
}
.ibk-log-status .fa-check-circle-bk:before {
	color:rgba(102, 189, 120, 1.0);
	font-size:30px;
}
.ibk-log-status .fa-error-circle-bk:before {
	color:#d9534f;
	font-size:30px;
}
.ibk-log-status .fa-stopped-circle-bk:before {
	color: #337ab7;
	font-size:30px;
}
.ibk-log-view{
	margin-top:15px;
	width:100%;
	text-align:center;
  	padding-left: 8px;
}
.ibk-log-view span{
	color:#3DA0DB;
	font-size:12px;
	cursor:pointer;
	font-weight:500;
	padding:3px 5px;
	border:solid 1px transparent;
}
.ibk-stats-wrap{
	width:100%;
	min-height:400px;
    padding-right: 20px;
    box-sizing: border-box;
}
.ibk-stats-wrap .row{
	margin-left:0px !important;
	margin-right:0px !important;
}
.ibk-stats-main{
	padding:15px;
	min-height:460px !important;
	box-sizing:border-box;
	transition: all .2s;
  	color: #444;
	background-color:#fff;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
}
.ibk-stats-size{
	min-height:100px !important;
	margin-bottom:20px;
	position:relative;
	transition: all .2s;
  	color: rgb(255, 255, 255);
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
}
.ibk-stats-color1{
  	background-color: #00bed4;
}
.ibk-stats-color2{
  	background-color: #00aec1;
}
.ibk-stats-color3{
  	background-color: #0099a7;
}
.ibk-stats-color4{
  	background-color: #00858f;
}
.ibk-stats-color5{
  	background-color: #607d8b;
}
.ibk-stats-color6{
  	background-color: #9972b5;
}
.ibk-stats-color7{
  	background-color: #fa8564;
}
.ibk-stats-color8{
  	background-color: #666;
}
.ibk-stats-size .ibk-left-icon{
	float:left;
	height:100%;
	width:50px;
	  font-size: 45px;
  padding-top: 27px;
  padding-left: 10px;
  box-sizing: border-box;
  opacity: 0.7;
}
.ibk-stats-size .ibk-right-text{
	float:right;
	height:100%;
	padding-right:10px;
	box-sizing:border-box;
}
.ibk-stats-size .ibk-right-text .ibk-file-counts{
	font-size:34px;
	font-weight:200;
	font-family: "Roboto", sans-serif;
	white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
    line-height: 34px;
  margin-top: 23px;
  text-align:right;
}
.ibk-stats-size .ibk-right-text .ibk-file-type{
	font-size: 14px;
  font-weight: 500;
	font-family: "Roboto", sans-serif;
	white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 20px;
  text-align:right;
  opacity:0.8;
}
.ibk-stats-main-count{
  color: #505458;
  margin: 10px 0 15px 0;
  font-size: 17px;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  vertical-align:top;
}
.ibk-stats-main-count span{
	display:inline-block;
	vertical-align:middle;
	font-size: 38px;
  line-height: 40px;
  padding-right: 5px;
  font-weight: 300;
}
.ibk-stats-main-count .ibk-big-cunt{
	font-size:90px;
	line-height:100px;
	font-weight: 700;
}
.ibk-stats-last-logs{
	margin-top:50px;
}
.ibk-stats-last-logs h2{
	margin-bottom:15px;
}
.ibk-top-flot{
	text-align:right; 
	padding-right:20px;
	margin-bottom: 0px; 
	margin-top: 30px;
}
.ibk-flot{
	width:100%;
	height:350px;
	margin-top:0px;
}
.ibk-stats-bottom-box {
	width:100%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	height:150px;
	margin: 30px 0;
	color:#fff;
}
.ibk-stats-bottom-box .ibk-stats-bottom-top{
	width:100%;
	height:100px;
}
.ibk-stats-bottom-box .ibk-big-number{
  font-size: 50px;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  text-align:center;
  line-height:55px;
}
.ibk-stats-bottom-box .ibk-big-number-top{
	text-align:center;
	font-size: 14px;
  line-height: 35px;
  font-weight: 400;
  opacity: 0.9;
  font-family: "Roboto", sans-serif;
  max-height:35px;
  overflow:hidden;
}
.ibk-stats-bottom-box .ibk-bottom-label{
  font-size: 17px;
  font-weight: 500;
	font-family: "Roboto", sans-serif;
  text-align:center;
  line-height:50px;
  opacity:0.7;
}
.ibk-stats-bottom-box .ibk-stats-bottom-bt{
	width:100%;
	height:50px;
	background-color:rgba(0,0,0,0.3);
}

/****************** POPUP logs ********************/
.ibk-popup-wrapp{
	position: fixed;
	z-index: 999991;
	top: 0px;
	height: auto;
	left: 0px;
	width: 100%;
	min-height: 100%;
    background-color: rgba(0,0,0,0.30);
}
.ibk-popup-wrapp .ibk-the-popup{
    width: 45%;
    min-width: 750px;
    height: auto;
    margin: 0 auto;
    margin-top: 5%;
	margin-bottom:6%;
	bottom:10px;
    font-family: "Open Sans",sans-serif;
}
.ibk-popup-wrapp .ibk-the-popup .ibk-popup-top{
	border-bottom: 1px solid #ddd;
  	background-color: #fafafa;
    padding:13px 9px;
}
.ibk-the-popup-locker .ibk-popup-top{
	background-color: #555f6e !important;
}
.ibk-popup-wrapp .ibk-the-popup .ibk-popup-top .title{
    float: left;
    margin: 5px 0px 5px 5px;
    font-size: 18px;
    color: #333;
	font-weight:bold;
	color: #d9534f;
	-webkit-animation-name: fadeInLeftTitle;
  	animation-name: fadeInLeftTitle;
  	-webkit-animation-duration: 1s;
  	animation-duration: 1s;
  	-webkit-animation-fill-mode: both;
  	animation-fill-mode: both;
}
.ibk-the-popup-locker .ibk-popup-top .title{
    color: #fff !important;
}
.ibk-popup-wrapp .ibk-the-popup .ibk-popup-top .close-bttn{
	background-size:25px;
    width: 25px;
    height: 25px;
    float: right;
    cursor: pointer;
	background: url(../images/close_bk.png);
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center center;
	opacity:0.3;
}
.ibk-the-popup-locker .close-bttn{	
	background: url(../images/close.png) !important;
}
.ibk-popup-wrapp .ibk-the-popup .ibk-popup-top .close-bttn:hover{
	opacity:0.8;
}
.ibk-popup-wrapp .ibk-the-popup .ibk-popup-content{
    background: #fff;
	min-height:250px;
	border: 1px solid #ddd;
	border-top:none;
	position:relative;
}
.ibk-popup-footer{
	position: absolute;
    bottom: 0;
    width: 100%;
	padding: 10px 15px;
    background-color: #fafafa;
    border-top: 1px solid #dddddd;
}
.ibk-popup-footer .ibk-restore-buttons-wrap{
	margin:0px !important;
}
#ibk_restore_popup_form, #ibk_migrate_popup_form{
	padding:25px 10px;
	max-height:500px;
	overflow-y: auto;
    overflow-x: hidden;
	margin-bottom:60px;
}
.ibk-the-popup-locker .ibk-popup-content{
	background-color: #fafafa !important;
}
.ibk-popup-wrapp .ibk-the-popup .ibk-popup-content .ibk-popup-left-section{
	width: 30%;
	display: inline-block;
	background-color:#fafafa;
	padding:15px;
    box-sizing: border-box;
}
.ibk-popup-wrapp .ibk-the-popup .ibk-popup-content .ibk-popup-right-section{
	width: 69%;
	display: inline-block;
	vertical-align: top;
	padding:25px 20px;
    box-sizing: border-box;
	background-color:#fff;
	border-left:1px solid #ddd;
	height:100%;
	min-height:350px;
}

.ibk-popup-wrapp .ibk-the-popup .ibk-popup-content .ibk-popup-label{
	font-size: 14px;
	font-weight: 500;
	color: #333;
	margin-top: 15px;
}
.ibk-popup-wrapp .ibk-the-popup .ibk-popup-content .ibk-bttn-wrap{
	margin-top: 25px;
	text-align: center;
}
.ibk-popup-wrapp .ibk-the-popup .ibk-popup-content .ibk-popup-shortcodevalue{
	padding: 10px 0px;
	color: #888;
	font-size: 16px;
	background: #f7f7f7;
 	border: 1px solid #ccc;
  	border-radius: 3px;
	box-sizing: border-box;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
	width: 150px;
    height: 180px;
	margin:10px 20px;
	float:left;
	font-family: "Open Sans",bold;	
  	font-size: 15px;
    font-weight: bold;
  	position: relative;
  	text-align: center;
  	text-transform: uppercase;
	line-height: 20px;
}
.ibk-popup-wrapp .ibk-the-popup .ibk-popup-content .ibk-popup-shortcodevalue .fa-ibk{
	font-size: 56px;
  	display: block;
  	line-height: 100px;
}
.ibk-popup-wrapp .ibk-the-popup .ibk-popup-content .ibk-popup-shortcodevalue:hover{
	color: #d9534f;
	cursor: pointer;
}
#ibk-popup-target-user-select-view{	
	background-color: #fff;
	border: 1px solid #eee;
	padding: 4px 12px;
	min-height:40px;
	border-width:1px 0 1px 0;	
    margin: 13px -15px;
}
.ibk-view-logs-wrap{
	color:#444;
	font-family: "Open Sans",bold;	
	border: solid 1px transparent;
  border-color: #e1e1e1;
  border-bottom-width:0px;
  background-color: #fafafa;
    box-sizing: border-box;
	width:100%;
	
}
.ibk-view-logs-wrap:last-child {
	border-bottom-width:1px;
}
.ibk-view-logs-date{
	display:inline-block;
	background-color:#f1f2f7;;
	line-height:40px;
	font-weight:bold;
	padding:0 20px;
	width:23%;
}
.ibk-view-logs-message{
	display:inline-block;
	  color: #1fb5ac;
	  padding-left:10px;
    box-sizing: border-box;
	width:77%;
	  word-wrap: break-word;
  vertical-align: middle;
}
.ibk-settings-wrap{
	margin:30px 0px 30px 0;
}
.ibk-settings-wrap .ibk-inside-item{
	padding-top: 0px !important;
	padding-bottom:20px !important;
}
/* checkbox style on/off */

.ibk_lable_shiwtch{
	font-size:15px !important;
}
input[type="checkbox"].ibk-switch {
	position: absolute;
	opacity: 0;
}

input[type="checkbox"].ibk-switch + div {
	display: inline-block;
	vertical-align: middle;
	width: 3em;	height: 1em;
	border: 1px solid rgba(0,0,0,.3);
	border-radius: 999px;
	margin: 0 .5em;
	background: white;
	background-image: linear-gradient(rgba(0,0,0,.1), transparent),
	                  linear-gradient(90deg, hsl(210, 90%, 60%) 50%, transparent 50%);
	background-size: 200% 100%;
	background-position: 100% 0;
	background-origin: border-box;
	background-clip: border-box;
	overflow: hidden;
	transition-duration: .4s;
	transition-property: padding, width, background-position, text-indent;
	box-shadow: 0 .1em .1em rgba(0,0,0,.2) inset,
	            0 .45em 0 .1em rgba(0,0,0,.05) inset;
	font-size: 150%; /* change this and see how they adjust! */
	box-sizing:content-box;
}

input[type="checkbox"].ibk-switch:checked + div {
	padding-left: 2em;	width: 1em;
	background-position: 0 0;
}

input[type="checkbox"].ibk-switch + div:before {
	content: 'On';
	float: left;
	width: 1.65em; height: 1.65em;
	margin: -.1em;
	border: 1px solid rgba(0,0,0,.35);
	border-radius: inherit;
	background: white;
	background-image: linear-gradient(rgba(0,0,0,.2), transparent);
	box-shadow: 0 .1em .1em .1em hsla(0,0%,100%,.8) inset,
	            0 0 .5em rgba(0,0,0,.3);
	color: white;
	text-shadow: 0 -1px 1px rgba(0,0,0,.3);
	text-indent: -2.5em;
}

input[type="checkbox"].ibk-switch:active + div:before {
	background-color: #eee;
	box-sizing:content-box;
}

input[type="checkbox"].ibk-switch:focus + div {
	box-shadow: 0 .1em .1em rgba(0,0,0,.2) inset,
	            0 .45em 0 .1em rgba(0,0,0,.05) inset,
	            0 0 .4em 1px rgba(255,0,0,.5);
}

input[type="checkbox"].ibk-switch + div:before,
input[type="checkbox"].ibk-switch + div:after {
	font: bold 60%/1.9 sans-serif;
	text-transform: uppercase;
	box-sizing:content-box;
}

input[type="checkbox"].ibk-switch + div:after {
	content: 'Off';
	float: left;
	text-indent: .5em;
	color: rgba(0,0,0,.45);
	text-shadow: none;
}
.ibk-view-system-wrap{
	color:#444;
	font-family: "Open Sans",bold;	
	border: solid 1px transparent;
  border-color: #e1e1e1;
  border-bottom-width:0px;
  background-color: #fefefe;
    box-sizing: border-box;
	width:100%;
	max-width:1100px;
	position:relative;
}
.ibk-view-system-wrap:last-child {
	border-bottom-width:1px;
}
.ibk-view-system-icon{
	background-color:#f9f9f9;
	line-height:40px;
	font-weight:bold;
	padding:0 20px;
	width:50px;
	position:absolute;
	right:0px;
	top:0px;
	bottom:0px;
	border-left:1px solid #ddd;
	
}
.ibk-view-system-icon .glyphicon{
	font-size:17px;
	position: absolute;
  	top: 40%;
}
.ibk-view-system-icon .glyphicon-ok-sign{
	color:#5cb85c;
}
.ibk-view-system-icon .glyphicon-alert{
	color:#d9534f;
}
.ibk-view-system-message{
	color: #444;
	padding-left:10px;
	padding-right:60px;
	box-sizing: border-box;
	word-wrap: break-word;
	vertical-align: middle;
	width:100%;
	min-height:50px;
	padding: 10px 60px 5px 10px;
}
.ibk-restore-box-wrap{
	margin-bottom:20px;
	margin-right:15px;
	padding:0 10px 20px 10px;
	border-bottom:1px solid #ddd;
	box-sizing: border-box;
}
.ibk-restore-box-wrap .row{
	margin-left:0px !important;
	margin-right:0px !important;
}
.ibk-restore-buttons-wrap{
	margin:30px 0;
	margin-bottom:10px;
}
.ibk-migrate-buttons-wrap{
}
.ibk-restore-box-wrap .ibk-add-new, .ibk-restore-buttons-wrap .ibk-add-new{
	background-color: #56c556 !important;	
}
.ibk-restore-box-wrap .ibk-add-new i, .ibk-restore-buttons-wrap .ibk-add-new i{
	background-color: #5cb85c !important;	
}
.ibk-restore-box-wrap .ibk-add-new:hover, .ibk-restore-buttons-wrap .ibk-add-new:hover{
	background-color: #5cb85c !important;	
	color:#fff !important;
}
.ibk-restore-list-wrap .ibk-admin-dashboard-backup-box-wrap{
	min-width:365px;
	padding-right:10px;
	padding-left:10px;
}
.ibb-popup-list-snapshots-instances .fa-version-ibk {
    font-size: 56px;
    display: block;
    line-height: 70px;
}
/************* SNAPSHOT RESTORE POPUP **************/

.ibk-popup-wrapp {
    position: fixed;
    z-index: 999991;
    top: 0px;
    height: auto;
    left: 0px;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.30);
}
.ibk-popup-wrapp .ibk-the-popup {
    width: 45%;
    min-width: 870px;
    height: auto;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 6%;
    bottom: 10px;
    font-family: "Open Sans",sans-serif;
}
.ibk-popup-wrapp .ibk-the-popup .ibk-popup-top {
    border-bottom: 1px solid #ddd;
    background-color: #fafafa;
    padding: 13px 9px;
}
.ibk-popup-wrapp .ibk-the-popup .ibk-popup-content {
    background: #fff;
    min-height: 250px;
    border: 1px solid #dd;
    border-top: none;
}
.ibk-popup-wrapp .ibk-the-popup .ibk-popup-top .title {
    float: left;
    margin: 5px 0px 5px 5px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    color: #d9534f;
    -webkit-animation-name: fadeInLeftTitle;
    animation-name: fadeInLeftTitle;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.ibk-popup-wrapp .ibk-the-popup .ibk-popup-top .close-bttn {
    background-size: 25px;
    width: 25px;
    height: 25px;
    float: right;
    cursor: pointer;
    background: url(../images/close_bk.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.3;
}

.ibk-restore-link{
	color: #d9534f;
	cursor: pointer;
}

.ibk-restore-snapshot-item-popup,.ibk-restore-snapshot-item-popup-selected{
    padding: 10px 0px;
    color: #888;
    font-size: 16px;
    background: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    -o-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    width: 150px;
    height: 160px;
    margin: 10px 8px;
    float: left;
    font-family: "Open Sans",bold;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
 	white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;
	cursor: pointer;
}
.ibk-restore-snapshot-item-popup:hover , .ibk-restore-snapshot-item-popup-selected {
	color: #f1505b;
}
.ibk-restore-snapshot-item-popup .ibk-the-filename, 
.ibk-restore-snapshot-item-popup-selected .ibk-the-filename{
	font-size: 12px;
	color: #888 !important;
}
.ibk-restore-snapshot-item-popup .ibk-from, 
.ibk-restore-snapshot-item-popup-selected .ibk-from{
	font-size: 14px;
	font-weight:100;
    text-transform: lowercase;
	display:block;
	padding-top:10px;
	color: #888 !important;
}
.ibk-nodata-wrapper{
	text-align:center;
	padding:40px 0 10px 0;
	box-sizing:border-box;
}
.ibk-nodata-wrapper img{
	display:block;
	margin:0 auto;
	margin-bottom:15px;
}

/*==================MIGRATE==================*/
.ibk-migrate-box-wrap{
	margin-bottom:20px;
	margin-right:15px;
	padding:0 10px 20px 10px;
	border-bottom:1px solid #ddd;
	box-sizing: border-box;
}
.ibk-restore-buttons-wrap{
	margin:30px 0;
	margin-bottom:10px;
}
.ibk-migrate-buttons-wrap{
}
.ibk-migrate-buttons-wrap .ibk-add-new{
	background-color: #f1505b !important;	
}
.ibk-migrate-buttons-wrap .ibk-add-new i{
	background-color: #d54751 !important;	
}
.ibk-migrate-buttons-wrap .ibk-add-new:hover{
	background-color: #d54751 !important;	
}
.ibk-restore-list-wrap .ibk-admin-dashboard-backup-box-wrap{
	min-width:365px;
	padding-right:10px;
	padding-left:10px;
}
.ibk-migrate-excluded-item{
	margin-bottom:20px;
}
/*==================END MIGRATE==================*/
/* checkbox style on/off */

input[type="checkbox"].ibk-switch {
	position: absolute;
	opacity: 0;
}

input[type="checkbox"].ibk-switch + div {
	display: inline-block;
	vertical-align: middle;
	width: 3em;	height: 1em;
	border: 1px solid rgba(0,0,0,.3);
	border-radius: 999px;
	margin: 0 .5em;
	background: white;
	background-image: linear-gradient(rgba(0,0,0,.1), transparent),
	                  linear-gradient(90deg, hsl(210, 90%, 60%) 50%, transparent 50%);
	background-size: 200% 100%;
	background-position: 100% 0;
	background-origin: border-box;
	background-clip: border-box;
	overflow: hidden;
	transition-duration: .4s;
	transition-property: padding, width, background-position, text-indent;
	box-shadow: 0 .1em .1em rgba(0,0,0,.2) inset,
	            0 .45em 0 .1em rgba(0,0,0,.05) inset;
	font-size: 150%; /* change this and see how they adjust! */
	cursor:pointer;
}
input[type="checkbox"].ibk-switch + div.disabled {
	background-image: linear-gradient(rgba(0,0,0,.1), transparent),
	                  linear-gradient(90deg, hsl(199, 20%, 60%) 50%, transparent 50%);
	cursor:inherit;
}
input[type="checkbox"].ibk-switch:checked + div {
	padding-left: 2em;	width: 1em;
	background-position: 0 0;
}

input[type="checkbox"].ibk-switch + div:before {
	content: 'On';
	float: left;
	width: 1.65em; height: 1.65em;
	margin: -.1em;
	border: 1px solid rgba(0,0,0,.35);
	border-radius: inherit;
	background: white;
	background-image: linear-gradient(rgba(0,0,0,.2), transparent);
	box-shadow: 0 .1em .1em .1em hsla(0,0%,100%,.8) inset,
	            0 0 .5em rgba(0,0,0,.3);
	color: white;
	text-shadow: 0 -1px 1px rgba(0,0,0,.3);
	text-indent: -2.5em;
}

input[type="checkbox"].ibk-switch:active + div:before {
	background-color: #eee;
}

input[type="checkbox"].ibk-switch:focus + div {
	box-shadow: 0 .1em .1em rgba(0,0,0,.2) inset,
	            0 .45em 0 .1em rgba(0,0,0,.05) inset,
	            0 0 .4em 1px rgba(255,0,0,.5);
}

input[type="checkbox"].ibk-switch + div:before,
input[type="checkbox"].ibk-switch + div:after {
	font: bold 60%/1.9 sans-serif;
	text-transform: uppercase;
}

input[type="checkbox"].ibk-switch + div:after {
	content: 'Off';
	float: left;
	text-indent: .5em;
	color: rgba(0,0,0,.45);
	text-shadow: none;
}

.ibk-subtab-menu{
	width: 100%;
    position: relative;
    top: -25px;
    background-color: rgba(0,0,0,0.7);
    padding: 5px 0px 5px 20px;
	padding-left: 20px;
    margin-left: -20px;
	-webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.ibk-subtab-menu a:first-child{
	margin-left:190px;
}
.ibk-subtab-menu .ibk-subtab-menu-item{
	text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-right: 40px;
}

.ibk_migrate_all_non_wp {
    background-color: #94c523;
    color: #fff;
    padding: 5px;
    margin: 3px;
    display: inline-block;
    min-width: 40px;
}

/******************** RESTORE LOADING **********************/
.ibk-restore-wall{
	position: fixed;
    z-index: 999991;
    top: 0px;
    height: auto;
    left: 0px;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.65);
	margin-left: 160px;
	text-align: center;
}
.ibk-restore-loading-content{
	margin-top: 300px;
	width: 400px;
	height: 200px;
	display: inline-block;
	text-align: left;
}
.ibk-restore-wall .ibk-restore-loading{
	
}
.ibk-restore-loading-content-title{
	color:#fff;
	font-size: 28px;
    text-align: left;
    margin-left: 50px;
    padding-right: 100px;
    margin-bottom: 20px;
    font-family: Oswald, Helvetica, Arial, sans-serif;
    border-bottom: 1px solid #ddd;
    display: inline-block;
    padding-bottom: 17px;
}
.ibk-restore-wall .ibk-restore-status{
	color:#efefef;
	font-size:11px;
    text-align: left;
    padding-left: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}